@import "../../../../../../globalStyles/variables";
@import "../../../../../../globalStyles/extendables";
@import "../../../../../../globalStyles/mixins";

.offices {
  width: 100%;
  position: relative;

  &__heading {
    color: $gray-500;
    font-size: $primary-font-size;
    margin-bottom: $spacing-md;
  }

  &__options {
    list-style-type: none;
  }
}
