// pallette
$primary-color: #6425ec;
$secondary-color: #ec6425;
$success-color: #25ec64;
$danger-color: #ec2555;
$warn-color: #ff9252;
$info-color: #5fcaff;

$white: #ffffff;
$black: #000000;

$gray-200: #d3d3d3;
$gray-500: #969696;
$gray-800: #47464c;

// typography
$heading-font-size: 36px;
$primary-font-size: 18px;
$secondary-font-size: 14px;

// sizes
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 18px;
$spacing-xl: 24px;
$spacing-xxl: 36px;

// radiuse
$primary-border-radius: 12px;
$secondary-border-radius: 8px;

// sizes
$table-mid: 768px;
$mobile-ceil: 425px;
$mobile-mid: 375px;
$mobile-floor: 320px;
