@import "../../../../globalStyles/variables";
@import "../../../../globalStyles/mixins";
@import "../../../../globalStyles/extendables";

.search-area {
  position: relative;
  margin-bottom: $spacing-xxl;

  &__nav {
    height: 64px;
    position: relative;
    z-index: 1;
    @extend .makeLikeCard;
    background-color: $white;
    padding: $spacing-sm $spacing-lg;
    @include makeFlex(space-between, center);

    &-filter-btn {
      all: unset;
      cursor: pointer;
      width: $spacing-xxl;
      height: $spacing-xxl;
      background-color: transparent;
      border-radius: $primary-border-radius;
      @extend .focusable;
      @include makeFlex(center, center);
      @include makeTransition(0.3s, ease-in-out);

      & i {
        font-size: 1.2rem;
        color: $gray-500;
        @include makeTransition(0.3s, ease-in-out);
      }

      &--active {
        background-color: $gray-200;

        & i {
          color: $white;
        }
      }

      &--filtered {
        background-color: $primary-color;
        box-shadow: 0 0 0 4px rgba($primary-color, 0.3) !important;

        & i {
          color: $white;
        }

        &:hover {
          background-color: $success-color !important;
          box-shadow: 0 0 0 4px rgba($success-color, 0.3) !important;

          & i {
            color: $white !important;
          }
        }
      }

      &:hover {
        background-color: $light-gray;

        & i {
          color: darken($gray-500, 10);
        }
      }
    }
  }
}
