@import "../../../../globalStyles/variables";
@import "../../../../globalStyles/mixins";

.result-area {
  position: relative;
  margin-bottom: $spacing-xxl;

  &__employees-list {
    position: relative;
    margin-bottom: $spacing-xxl;

    &--grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: $spacing-xl;
    }

    &--list {
      display: block;
    }
  }

  &__load-more {
    width: 100%;
    min-height: 100px;
    @include makeFlex(center, center);
  }
}
