@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";

.loading-container {
  width: 100%;
  height: 100px;
  top: 0;
  position: relative;
  @include makeFlex(center, center, column);
}
.desc {
  color: $gray-500;
  max-width: 400px;
  text-align: center;
}
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: fit-content;
}
.loading div {
  position: absolute;
  top: -16px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $gray-200;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
  left: 8px;
  animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
  left: 8px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(3) {
  left: 32px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(4) {
  left: 56px;
  animation: loading3 0.6s infinite;
}
@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
