@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";
@import "../../globalStyles/extendables.scss";

.search-box {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 34px;
  @include makeFlex();

  &__form {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__submit {
    all: unset;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 28px;
    height: 28px;
    margin-left: $spacing-sm / 2;
    background-color: $light-gray;
    border-radius: $secondary-border-radius - 2px;
    @extend .focusable;
    @include makeFlex(center, center);

    & i {
      color: darken($color: $gray-200, $amount: 30);
    }
  }

  &__clear {
    all: unset;
    height: 100%;
    cursor: pointer;
    color: $gray-500;
    margin-left: $spacing-md;
    font-size: $secondary-font-size;
    @include makeTransition(0.3s, ease-in-out);

    &:hover {
      color: $gray-800;
    }
  }
}
