@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";

.employee {
  position: relative;
  padding: $spacing-xl $spacing-md;
  padding-top: 0;
  min-height: 400px;
  max-width: $table-mid;
  margin: 0 auto;

  &__back {
    position: absolute;
    left: -$spacing-xxl * 2;
    font-size: $heading-font-size * 2;
    margin: 0;
    padding: $spacing-sm;
    border-radius: $spacing-xxl * 3;
    transform: rotateZ(-90deg);
    color: $gray-500;
    cursor: pointer;
    @include makeTransition(0.3s, ease-in-out);

    &:hover {
      background-color: $primary-color;
      color: darken($primary-color, 30);
    }

    &::before {
      margin: $spacing-sm !important;
    }
  }
}

@include MAX_QUERY($tablet-ceil) {
  .employee {
    &__back {
      left: $spacing-xl + $spacing-md;
      top: $spacing-xl;
      z-index: 1;
      background-color: rgba($light-gray, 0.2);
      color: darken($gray-500, 15);
    }
  }
}

@include MAX_QUERY(525px) {
  .employee {
    &__back {
      left: $spacing-lg + $spacing-md;
      top: $spacing-lg;
      z-index: 1;
      font-size: $heading-font-size;
      padding: 0;
      background-color: rgba($light-gray, 0.2);
      color: darken($gray-500, 15);
    }
  }
}
