@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";

.employee {
  position: relative;
  padding: $spacing-xl $spacing-md;
  min-height: 400px;
  max-width: $table-mid;
  margin: 0 auto;

  &__back {
    position: absolute;
    left: -$spacing-xxl * 2;
    font-size: $heading-font-size * 2;
    margin: 0;
    padding: $spacing-sm;
    border-radius: $spacing-xxl * 3;
    transform: rotateZ(-90deg);
    color: $gray-500;
    cursor: pointer;
    @include makeTransition(0.3s, ease-in-out);

    &:hover {
      background-color: $primary-color;
      color: darken($primary-color, 30);
    }

    &::before {
      margin: $spacing-sm !important;
    }
  }
}
