@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";

.employees-list {
  position: relative;

  &__heading {
    font-weight: bold;
    text-align: center;
    color: $gray-500;
    font-size: $heading-font-size;
    margin-bottom: $spacing-xl;
  }
}
