@import "../../../../../../globalStyles/variables";
@import "../../../../../../globalStyles/extendables";
@import "../../../../../../globalStyles/mixins";

.contact-links {
  position: relative;
  width: 100%;

  &__heading {
    color: $gray-500;
    font-size: $primary-font-size;
    margin-bottom: $spacing-md;
  }

  &__options {
    list-style-type: none;
  }
}
