@import "../../../../../../globalStyles/variables";
@import "../../../../../../globalStyles/extendables";
@import "../../../../../../globalStyles/mixins";

.advance-search-drawer {
  position: relative;
  z-index: -1;
  border-radius: $primary-border-radius;
  background-color: lighten($gray-200, 9);
  margin-top: -$spacing-sm;
  max-height: 0;
  padding: 0 $spacing-lg;
  overflow: hidden;
  @include makeTransition(0.5s, cubic-bezier(0.17, 0.67, 0.31, 0.99));

  &--open {
    padding: $spacing-lg;
    padding-top: $spacing-xl;

    & .advance-search-drawer__body {
      opacity: 1;
    }
  }

  &__body {
    opacity: 0;
    @include makeTransition(0.3s, ease-in-out);
  }
}
